h1{
  color: blue;
}
h4{
  color: #ff0080;
}
ol{
  color: rgb(191, 0, 255);
}
ul{
  color: rgba(191, 0, 255,0.5);
}
p{
  /* rgba stands for alpha it is transparincy*/
  color: rgba(191, 0, 255,1);


}
